/*Main */
* {
  padding: 0;
  margin: 0;
}

/* Body */
body {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgb(130, 235, 235) 1%,
    pink 50%,
    rgb(130, 235, 235)
  );
}

/* Navbar */
#Navbar {
  background-color: rgb(13, 55, 119);
  padding: 5px;
  margin-bottom: 3rem;
  font-family: "Courgette", cursive;
  display: flex;
  justify-content: space-around;
}
.active {
  color: red;
}
.notactive {
  color: white;
}
.active:hover {
  color: "white";
  text-shadow: 1px 1px 15px red;
}
.text {
  margin-left: 5rem;
  font-size: 1.3rem;
}

/* Students */
.container {
  max-width: 1100px;
  margin: 100px auto;
  height: 400px;
}
.h1 {
  text-align: center;
  margin: 20px 0px;
}
header {
  display: flex;
}
.head1 {
  flex: 2;
}
.btn {
  padding: 0px 30px;
  font-size: x-large;
  border-radius: 30px;
  cursor: pointer;
}
#details {
  width: 100%;
  margin: 50px 0px;
  border-collapse: collapse;
  background-color: white;
  border-radius: 20px;
}
#details td {
  border-bottom: 1px solid rgb(180, 170, 170);
  padding: 20px;
}
.t-head {
  font-weight: bold;
}

/* AddNewStudents */
.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 80px;
  align-items: center;
}
.field {
  max-width: 400px;
  height: 80px;
  margin-right: 150px;
  background-color: rgba(232, 240, 254, 255);
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: bolder;
}
.field:hover {
  border: 2px solid rgb(9, 102, 207);
  color: rgb(9, 102, 207);
}
input[type="text"],
input[type="number"] {
  background-color: rgba(232, 240, 254, 255) !important;
  height: 35px;
  font-size: large;
  width: 400px;
  border: 0px;
  outline: 0px;
}
.button {
  padding: 10px 30px;
  width: 200px;
  font-size: x-large;
  border-radius: 30px;
  margin-left: 30px;
  cursor: pointer;
}
.btn1 {
  background-color: rgb(116, 116, 116);
}
.btn2 {
  background-color: rgb(186, 220, 233);
}
.grid-btn {
  width: 1000px;
  margin-top: 80px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
}
